.pincode-input-container > .pincode-input-text {

    @layer padding: 0 !important ;
    margin: 0 2px;
    text-align: center;
    border: 3px solid;
    background: transparent;
    width: 50px;
    height: 50px


}

.pincode-input-container {
    @layer width: max-content;
    margin-inline: auto;
}

.pincode-input-container > .pincode-input-text:focus {
    @layer outline: none;
    box-shadow: none;
}